<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-bluetooth" version="1.0.0">
    <name>Bluetooth</name>
    <js-module name="Bluetooth" src="www/Bluetooth.js">
        <clobbers target="Bluetooth"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Bluetooth">
                <param name="android-package" value="org.apache.cordova.bluetooth.Bluetooth"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
        <source-file src="src/android/Bluetooth.java" target-dir="src/org/apache/cordova/bluetooth"/>
    </platform>

     <platform name="ios">  
		  <config-file target="config.xml" parent="/*">    
			  <feature name="Bluetooth">  
				  <param name="ios-package" value="CDVBluetooth" />  
		      </feature> 
		  </config-file>  
        
        <header-file src="src/ios/CDVBluetooth.h" />  
        <source-file src="src/ios/CDVBluetooth.m" />   
        <config-file parent="NSBluetoothPeripheralUsageDescription" target="*-Info.plist">
            <string></string>
        </config-file>
    </platform>  


</plugin>
